<div class="form-group" [ngClass]="{'has-error':errorsValue && errorsValue[name]}">
  <label class="control-label" [attr.for]="'input'+name">{{title | translate}}</label>
  <div [ngClass]="{'input-group':!readonly && !select}">
    <input *ngIf="statusListMessage" value="{{statusListMessage | translate}}" class="form-control" disabled/>
    <input *ngIf="!statusListMessage && !select" [(ngModel)]="value && value.asString" class="form-control" disabled/>
    <select-input *ngIf="!statusListMessage && select" [(model)]="value" [title]="title" titleField="asString" [readonly]="readonly"
      [items]="items" [inFormGroup]="false" [width]="width" #inputElement></select-input>
    <span class="input-group-btn" *ngIf="!readonly && !select">
      <button class="btn btn-success" type="button" (click)="onLookup()"
              tooltip="{{lookupTooltip}}" placement="left"  container="body">
          <span [ngClass]="[lookupIcon]"></span>
    </button>
    </span>
  </div>
  <span class="help-block" *ngIf="errorsValue && errorsValue[name]">{{errorsValue[name].join(', ') | translate}}</span>
</div>
