<div bsModal #modal="bs-modal" class="modal fade alert-modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" [ngClass]="['modal-'+size]">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" (click)="close()">
                    <span aria-hidden="true">&times;</span>
                </button>
        <h4 class="modal-title">{{title | translate}}</h4>
      </div>
      <form (ngSubmit)="close()">
        <div class="modal-body" [ngClass]="[messageClass]">
          <span *ngIf="content" [innerHTML]="content | safeHtml"></span>
          <span *ngIf="!content && message" [innerHTML]="message | safeHtml"></span>
        </div>
        <div class="modal-footer">
          <footer-buttons (onOk)="close()" [okTitle]="buttonText" [okBtnClass]="buttonClass" [closeHidden]="true"
            #focusElement [okInProcess]="okInProcess"></footer-buttons>
        </div>
      </form>
    </div>
  </div>
</div>
