<button class="pixel"  (click)="enter($event)" #focusElement></button>
<div class="app-grid group-permissions-grid" *ngIf="account">
  <div class="app-grid__toolbar--header">
    <div class="row">
      <div class="col-sm-8">
        <h4>{{modelMeta.group.titles.permissions | translate}}</h4>
      </div>
      <div class="col-sm-4">
        <button type="button" class="btn btn-success pull-right" aria-label="Append" (click)="showCreateModal()" *ngIf="account && account.checkPermissions(['change_group']) && !readonly">
					<span class="fa fa-plus"></span> {{ 'Append' | translate }}
				</button>
      </div>
    </div>
  </div>
  <table class="app-grid__table table table-bordered table-hover">
    <thead>
      <tr>
        <th class="app-grid__table__col-id" [ngClass]="{'select-col':maxSelectCount>1}">
          <table-column [title]="modelMeta.titles.id" name="id" [(columns)]="columns"></table-column>
        </th>
        <th class="app-grid__table__col-permission">
          <table-column [title]="modelMeta.titles.permission" name="permission" [(columns)]="columns"></table-column>
        </th>
        <th class="app-grid__table__col-action" *ngIf="hardReadonly !== true && account && account.checkPermissions(['change_permission','change_group']) && !readonly"
          translate>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngIf="statusListMessage">
        <td class="app-grid__table__col-status-message" [attr.colspan]="2+(hardReadonly !== true && account.checkPermissions(['change_permission','change_group']) && !readonly?1:0)">
          {{statusListMessage | translate}}
        </td>
      </tr>
      <tr *ngFor="let item of items | slice:0:meta.perPage" (click)="selectItem(item, $event)" [ngClass]="{'info':isSelectedItem(item)}"
        (dblclick)="showEditModal(item)" [hidden]="statusListMessage">
        <td class="app-grid__table__col-id" [ngClass]="{'select-col':maxSelectCount>1}">{{item.pk}}</td>
        <td class="app-grid__table__col-permission">{{item.permissionAsString}}</td>
        <td class="app-grid__table__col-action" *ngIf="hardReadonly !== true && account && account.checkPermissions(['change_permission','change_group']) && !readonly">
          <grid-row-buttons (onEdit)="showEditModal(item)" (onRemove)="showRemoveModal(item)" [showEdit]="hardReadonly !== true && account && account.checkPermissions(['change_permission']) && !readonly"
            [showRemove]="hardReadonly !== true && account && account.checkPermissions(['change_group'])"></grid-row-buttons>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="app-grid__toolbar--footer" [hidden]="statusListMessage">
    <div class="row">
      <div class="col-md-3">
      </div>
      <div class="col-md-9">
        <div class="pull-right" *ngIf="meta.totalPages>1 || meta.totalResults>meta.perPage">
          <pagination [directionLinks]="false" (pageChanged)="pageChanged($event)" [boundaryLinks]="true" [totalItems]="meta.totalResults"
            [rotate]="false" [maxSize]="5" [(ngModel)]="meta.curPage" [itemsPerPage]="meta.perPage" class="pagination-md pagination-compressed"
            firstText="&laquo;" lastText="&raquo;"></pagination>
        </div>
      </div>
    </div>
  </div>
</div>
