<div class="container-fluid">
	<div class="row">
		<div class="col-sm-3 col-md-2">
			<div class="app-sidebar" *ngIf="account">
				<ul class="nav nav-sidebar">
					<li [class.active]="router.isActive('/account/profile')" *ngIf="account && account.checkPermissions(['read_profile'])" class="app-sidebar__item">
						<a routerLink="/account/profile" translate>Profile</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="col-sm-9 col-md-10">
			<router-outlet></router-outlet>
		</div>
	</div>
</div>
