<page-header [title]="title"></page-header>
<form (ngSubmit)="update()" *ngIf="account">
	<div class="form-group">
		<label for="inputUsername">{{modelMeta.titles.username | translate}}</label>
		<input type="text" class="form-control" id="inputUsername" name="inputUsername" placeholder="" [(ngModel)]="account.username"
			[readonly]="readonly">
	</div>
	<div class="form-group">
		<label for="inputEmail">{{modelMeta.titles.email | translate}}</label>
		<input type="text" class="form-control" id="inputEmail" name="inputEmail" placeholder="" [(ngModel)]="account.email"
			[readonly]="readonly">
	</div>
	<div class="form-group">
		<label for="inputPassword">{{modelMeta.titles.password | translate}}</label>
		<input type="password" class="form-control" id="inputPassword" name="inputPassword" placeholder="" [(ngModel)]="account.password"
			[readonly]="readonly">
	</div>
	<div class="form-group">
		<label for="inputRePassword">{{modelMeta.titles.rePassword | translate}}</label>
		<input type="password" class="form-control" id="inputRePassword" name="inputRePassword" placeholder="" [(ngModel)]="account.rePassword"
			[readonly]="readonly">
	</div>
	<div class="form-group">
		<label for="inputLastName">{{modelMeta.titles.lastName | translate}}</label>
		<input type="text" class="form-control" id="inputLastName" name="inputLastName" placeholder="" [(ngModel)]="account.lastName"
			[readonly]="readonly">
	</div>
	<div class="form-group">
		<label for="inputFirstName">{{modelMeta.titles.firstName | translate}}</label>
		<input type="text" class="form-control" id="inputFirstName" name="inputFirstName" placeholder="" [(ngModel)]="account.firstName"
			[readonly]="readonly">
	</div>
	<button type="submit" class="btn btn-primary" [ngClass]="{'hidden':readonly}" translate>Update</button>
</form>
