<div class="form-group" [ngClass]="{'has-error':errorsValue && errorsValue[name]}" *ngIf="inFormGroup">
  <label class="control-label" [attr.for]="'input'+name">{{title | translate}}</label>
  <select class="form-control" [attr.id]="'input'+name" [attr.name]="'input'+name" [attr.placeholder]="placeholder" [(ngModel)]="value"
    [disabled]="readonly" (change)="updateModel()" #inputElement>
    <option *ngFor="let item of items" [value]="getValue(item)">{{getTitle(item) | translate}}</option>
  </select>
  <span class="help-block" *ngIf="errorsValue && errorsValue[name]">{{errorsValue[name].join(', ')}}</span>
</div>
<select class="form-control" [attr.id]="'input'+name" [attr.name]="'input'+name" [attr.placeholder]="placeholder" [(ngModel)]="value"
  [disabled]="readonly" (change)="updateModel()" *ngIf="!inFormGroup" #inputElement>
    <option *ngFor="let item of items" [value]="getValue(item)" [hidden]="getValue(initedHardValue)===getValue(item)" [innerHtml]="getTitle(item)"></option>
</select>
