.select-input {
  .ng2-auto-complete {
      //width: 600px !important;
      position: absolute;
      z-index: 10000;
      white-space: nowrap;
      .no-match-found{
        display: none;
      }
  }/* enable absolute positioning */
  .inner-addon {
    position: relative;
  }
  /* style glyph */
  .inner-addon .fa {
    position: absolute;
    padding: 10px;
    pointer-events: none;
  }
  /* align glyph */
  .left-addon .fa  { left:  0px;}
  .right-addon .fa { right: 0px;}
  /* add padding  */
  .left-addon input  { padding-left:  30px; }
  .right-addon input { padding-right: 30px; }
}
