<div class="form-group" [ngClass]="{'has-error':errorsValue && errorsValue[name]}">
  <label *ngIf="title" [ngClass]="labelClass" [attr.for]="'input'+name">{{title | translate}}</label>
  <div [ngClass]="{'input-group':!readonly && !select}" [ngClass]="inputFrameClass">
    <input *ngIf="statusListMessage" value="{{statusListMessage | translate}}" [ngClass]="inputClass" disabled/>
    <input *ngIf="!statusListMessage && !select" [(ngModel)]="value && value.asString" [ngClass]="inputClass" disabled/>
    <select-input *ngIf="!statusListMessage && select && items && items.length" [(model)]="value" [title]="title" titleField="asSelectOptionHtml" inputTitleField="asString"
      [readonly]="readonly" [items]="items" [inFormGroup]="false" [width]="width" #inputElement></select-input>
    <span class="input-group-btn" *ngIf="!readonly && !select">
      <button class="btn btn-success" type="button" (click)="onLookup()"
              tooltip="{{lookupTooltip}}" placement="left"  container="body">
          <span [ngClass]="[lookupIcon]"></span>
    </button>
    </span>
  </div>
  <span class="help-block" *ngIf="errorsValue && errorsValue[name]">{{errorsValue[name].join(', ') | translate}}</span>
</div>
