<div bsModal #modal="bs-modal" class="modal fade user-modal" [ngClass]="[class]" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" aria-label="Close" (click)="close()">
                    <span aria-hidden="true">&times;</span>
                </button>
        <h4 class="modal-title">{{title | translate}}</h4>
      </div>
      <form (ngSubmit)="save()">
        <div class="modal-body">
          <div class="row">
            <div class="col-md-6">
              <div class="row">
                <div class="col-md-6">
                  <text-input [errors]="errors" [info]="info" name="username" [(model)]="item.username" [title]="modelMeta.titles.username" [focused]="true"
                    [readonly]="readonly" #focusElement></text-input>
                </div>
                <div class="col-md-6">
                  <text-input [errors]="errors" [info]="info" type="email" name="email" [(model)]="item.email" [title]="modelMeta.titles.email" [readonly]="readonly"></text-input>
                </div>
                <div class="col-md-6">
                  <text-input [errors]="errors" [info]="info" type="password" name="password" [(model)]="item.password" [title]="modelMeta.titles.password"
                    [readonly]="readonly"></text-input>
                </div>
                <div class="col-md-6">
                  <text-input [errors]="errors" [info]="info" type="password" name="rePassword" [(model)]="item.rePassword" [title]="modelMeta.titles.rePassword"
                    [readonly]="readonly"></text-input>
                </div>
                <div class="col-md-6">
                  <text-input [errors]="errors" [info]="info" name="lastName" [(model)]="item.lastName" [title]="modelMeta.titles.lastName" [readonly]="readonly"></text-input>
                </div>
                <div class="col-md-6">
                  <text-input [errors]="errors" [info]="info" name="firstName" [(model)]="item.firstName" [title]="modelMeta.titles.firstName" [readonly]="readonly"></text-input>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <checkboxes-input [errors]="errors" name="roles" [(models)]="item.roles" [checkboxesTitles]="modelMeta.titles.rolesTitles" [title]="modelMeta.titles.roles"
                [readonly]="readonly"></checkboxes-input>
            </div>
            <div class="col-md-6">
              <user-groups-grid [loadAll]="false" #userGroups [readonly]="readonly"></user-groups-grid>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <modal-footer-buttons (onClose)="close()" [readonly]="readonly" [okTitle]="text"></modal-footer-buttons>
        </div>
      </form>
    </div>
  </div>
  </div>
