body
{
    //min-height: 2000px;
    padding-top: 70px;
}
.app-navbar
{
    &__item
    {
        &.active
        {
            font-weight: 700;
        }
    }
}
.app-sidebar
{
    &__item
    {
        &.active
        {
            font-weight: 700;
        }
    }
}
.app-grid
{
    &__toolbar
    {
        &--header
        {
            padding-bottom: 5px;
        }
        &--footer
        {
            padding-top: 5px;
        }
    }
    &__table
    {
        margin-bottom: 0px;

        tr{
            td{
                cursor:pointer;
            }
            th{
                vertical-align: top!important;
            }
        }
        &__col-key
        {
            width: 100px;

            text-align: left;
        }
        &__col-id
        {
            width: 70px;

            text-align: right;
        }
        &__col-icon
        {
            width: 70px;

            text-align: center;
        }
        &__col-action
        {
            width: 100px;

            text-align: center;
        }
        &__col-status-message
        {
            text-align: center;
        }
    }
}
.input-group{
    .dropdown-menu
    {
        >li{
            >a{
                line-height: 0;
            }
        }
        .divider{
            margin: 0px 0;
        }
    }
}
.pointer{
    cursor:pointer;
}
.page-header
{
    margin: 0 0 20px;
}
tabset>.nav-tabs{
  margin-bottom: 10px;
}
.pagination-compressed {
    margin-top: 0px;
}
