<div class="form-group" [ngClass]="{'has-error':errorMessage, 'has-success':infoMessage}">
  <label *ngIf="title" class="control-label" [attr.for]="'input'+name">{{title | translate}}</label>
  <div [ngClass]="{'input-group':!readonly && !select}" [tooltip]="tooltipText" placement="{{tooltipPlacement}}" triggers="{{tooltipTriggers}}"
    container="body" [isDisabled]="!tooltipEnable" (onShown)="showTooltip($event)" #tooltip="bs-tooltip">
    <input *ngIf="statusListMessage" value="{{statusListMessage | translate}}" class="form-control" disabled/>
    <input *ngIf="!statusListMessage && !select" [(ngModel)]="value && value.asString" class="form-control" #inputElement disabled/>
    <select-input *ngIf="!statusListMessage && select" [(model)]="value" [title]="title" titleField="asSelectOptionHtml" inputTitleField="asString"
      [readonly]="readonly" [items]="items" [inFormGroup]="false" [width]="width" #inputElement></select-input>
    <span class="input-group-btn" *ngIf="!readonly && !select">
      <button class="btn btn-success" type="button" (click)="onLookup()"
              tooltip="{{lookupTooltip}}" placement="left"  container="body">
          <span [ngClass]="[lookupIcon]"></span>
    </button>
    </span>
  </div>
  <span class="help-block" *ngIf="!tooltipEnable && (errorMessage || infoMessage)" [innerHtml]="errorMessage || infoMessage"></span>
</div>
